Droid/.idea/workspace.xml
DesktopApp/MultiCam-Server/nbproject/*
DesktopApp/MultiCam-Server/build/*
DesktopApp/MultiCam-Server/dist/*
DesktopApp/MultiCam-Server/dist/
DesktopApp/MultiCam-Server/build/
DesktopApp/MultiCam-Server/nbproject/

